:root {
    font-size: 16px;
    font-family: 'Roboto';
    --text-primary: #b6b6b6;
    --text-secondary: #c9c9c9;
    --bg-primary: #495c6a;
    --bg-secondary: #36494e;
    --transition-speed: 600ms;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    width: 0.25rem;
}

body::-webkit-scrollbar-track{
    background: #283639;
}

body::-webkit-scrollbar-thumb{
    background: #7cfef0;
}

main {
    margin-left: 5rem;
    padding: 1rem;

}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    overflow: auto;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary {
    color: #6bffb8;
}

.fa-secondary {
    color: #58d197;
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch; 
    width: 100%;
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.logo svg {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

form.search-bar {
  margin: auto auto;
  max-width: 300px;
  grid-area: s;
}

form.search-bar input[type=text]{
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  border-radius: 4px;
}

form.search-bar button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  border-radius: 4px;
  color: white;
  height: 2.5rem;
  width: 2.5rem;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.search-bar::after {
content: "";
clear: both;
display: table;
}

.pagination {
  margin: auto auto;
  grid-area: p;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #36494e;
  color: white;
  border: 1px solid #36494e;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pagination a.disabled {
  background-color: #ddd;
}

.pagination:after {
  clear: both;
}

.card:nth-child(1){
  grid-area: a;
}
.card:nth-child(2){
  grid-area: b;
}
.card:nth-child(3){
  grid-area: c;
}
.card:nth-child(4){
  grid-area: d;
}
.card:nth-child(5){
  grid-area: e;
}
.card:nth-child(6){
  grid-area: f;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  font-size: 3rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 8px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
}

@media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin-left: 0;
      margin-bottom: 5rem;
    }

    .grid {
      height: 85vh;
      display: grid;
      gap: 1rem;
  
      grid-template-areas:
      's'
      'a'
      'b'
      'c'
      'd'
      'e'
      'f'
      'p';
      
      grid-template-rows: repeat(8, 25%);
    }
    .pagination{
      margin-bottom: 6rem;
    }
  }
  
  /* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
  main {
    margin-left: 5rem;
    padding: 1rem;
  }
  .grid {
    height: 85vh;
    display: grid;
    gap: 1rem;

    grid-template-areas:
    's s s'
    'a b c'
    'd e f'
    'p p p';
    
    grid-template-rows: repeat(4, 25%);
  }
}